body{
    margin: 0;
    background-color: #161616;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.main-image{
    width: 100%;
    max-width: 1000px;
}

.btn {
    padding: 10px 20px;
    background-color: #161616;
    color: #f0d8cd;
    text-decoration: none;
    font-family: "Merriweather", serif;
    font-size: clamp(1em, 2vw - 1rem, 1.5em);
    margin-top: 20px;
    border: #f0d8cd 2px solid;
    border-radius: 5px;
    text-align: center;
    animation: heartbeat 1.5s ease-in-out infinite;
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(0.95);
    }
    50% {
        transform: scale(1);
    }
    85% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}

.btn:hover {
    background-color: #201818;
    animation: none;
}