*{
    box-sizing: border-box;
    background-color: #212222; 
    color: #d8c190;
    font-family: "Merriweather", serif;
    max-width: 100vw;
}

hr{
    border: #d8c190 1px solid;
}

header{
    width: 100%;
    padding: 0;
    position: fixed;
    top: 0;
    z-index: 10000;
    font-size: clamp(0.8em, 3vw - 1em, 1.3em);
    min-height: 130px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    height: 100px;
}

nav a img{
    min-width: 150px;
    height: auto;
    max-height: 100px;
}

ul{
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: clamp(1%, 10vw, 5%)
}

li{
    margin: 0 clamp(0.1em, 4vw - 1em, 5em);
}

li a{
   text-decoration: none; 
}

main{
    margin-top: 130px;
    width: 100%;
}

#top{
    scroll-margin-top: 135px;
}

#banner img{
    width: 100%;
}

img{
    max-width: 100%;
}

#tragos{
    scroll-margin-top: 130px;
    width: 100%;
}

#sucursales{
    scroll-margin-top: 130px;
    width: 100%;
    max-width: 100vw;
}

.card{
    display: flex;
    gap: 0 20px;
    margin: 30px 0 60px 0;
    flex-wrap: wrap;
}

.card-img{
    width: 70%;
    min-width: 375px;
    max-width: 1300px;
    border: #d8c190 1px solid;
    flex-grow: 2;
}

.card-img img{
    height: 100%;
    object-fit: cover;
}

.class-info{
    font-size: clamp(0.8em, 3vw - 1em, 1.1em);
    width: 28%;
    flex-grow: 1;
}

iframe{
    width: 70%;
    height: 50%;
}


#contacto{
    scroll-margin-top: 130px;
}

.container-contact{
    display: flex;
    justify-content: start;
    gap: 5vw;
}

.container-contact img{
    max-width: 50%;
    height: auto;
    object-fit: cover;
}

form {
    display: flex;
    flex-direction: column;
    width: 40%;
    min-width: 150px;
    max-width: 400px;
    font-size: clamp(15px, 2.5vw - 1em, 1.2rem)
}

input, textarea{
    border: #d8c190 1px solid;
    margin-top: 2%;
    margin-bottom: 10%;
}

input{
    min-height: 30px;
}

textarea{
    height: 25%;
    min-height: 60px;
}

.btn{
    font-size: clamp(13px, 2.5vw - 1em, 1rem);
    margin: 5px 0;
    padding: 5px;
}

.btn:hover{
    background-color: #201818;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-size: clamp(0.8em, 3vw - 1em, 1rem)
}

.fi{
    margin: 10px 10px;
    font-size: 20px;
}

footer a{
    text-decoration: none;
}

@media only screen and (max-width: 482px) {
    /* Tus estilos para pantallas pequeñas */
  }