* {
    box-sizing: border-box;
    margin: 0;
    background-color: #212222;
    color: #d8c190;
    font-family: "Merriweather", serif;
    max-width: 100vw;
}

hr {
    border: #d8c190 1px solid;
}

h2{
    margin-bottom: 30px;
}

.header {
    width: 100%;
    padding: 0;
    position: fixed;
    top: 0;
    z-index: 1;
    font-size: clamp(0.8em, 3vw - 1em, 1.3em);
    min-height: 130px;
    box-shadow: 3px 5px 5px #d8c190;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    height: 100px;
}

nav a img {
    min-width: 150px;
    height: auto;
    max-height: 100px;
}

.header ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: clamp(1%, 10vw, 5%)
}

.header li {
    margin: 0 clamp(0.1em, 4vw - 1em, 5em);
}

.header li a {
    text-decoration: none;
}

.header li a:hover {
    text-shadow: 0 0 5px #ffffff, /* Ajusta el color del brillo */
                 0 0 10px #ffffff,
                 0 0 15px #d8c190; 
                             
    transition: text-shadow 0.3s ease-in-out; /* Suaviza la transición */
}

main {
    margin-top: 130px;
    width: 100%;
}

#top {
    scroll-margin-top: 135px;
}

#banner {
    margin-bottom: 10px;
}

.banner-container {
    width: auto;
    height: 85vh;
    background-image: url('../img/banner-04.jpeg');
    background-size: cover;
    border-bottom: #d8c190 1px solid;
}

#tragos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    scroll-margin-top: 140px;
    width: 100%;
    height: 84vh;
    margin-bottom: 10px;
    padding: 0 10px;
}

/* Estilo de cada slide del carrusel de drinks */
.carousel-slide-drink {
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin: 0 1rem;
}

/* Estilo de la imagen del trago */
.carousel-slide-drink img {
    border: #d8c190 3px solid;
    border-radius: 8px;
    margin-bottom: 10px;
    max-height: 600px;
}

/* Estilo del nombre del trago */
.carousel-slide-drink h3 {
    font-size: 1.5em;
    color: #d8c190;
    margin: 10px 0;
    font-family: "Merriweather", serif;
}

/* Botones de navegación */
.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.8);
    border: none;
    font-size: 2em;
    cursor: pointer;
    z-index: 1;
}

.carousel-button:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}


#sucursales {
    scroll-margin-top: 140px;
    width: 100%;
    max-width: 100vw;
    margin-bottom: 10px;
    padding: 0 10px;
}

/* Estilos generales del carrusel */
.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-track-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-track {
    display: flex;
    align-items: center;
    transition: transform 0.5s ease-in-out;
    padding: 1rem;
}

.carousel-slide {
    min-width: 100%;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.card {
    width: 100%;
    display: flex;
    gap: 0 40px;
    flex-wrap: wrap;
}

.card-img {
    width: 60%;
    max-width: 1300px;
    border: #d8c190 1px solid;
    flex-grow: 2;
    background-size: cover;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.card-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card-info-text {
    font-size: clamp(0.7em, 3vw - 1em, 1.1em);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 45%;
    max-height: 45%;
}

.card-info-map {
    width: 100%;
    height: 45%;
}

iframe {
    width: 80%;
    height: 100%;
}

#contacto {
    scroll-margin-top: 140px;
    padding: 0 10px;
    max-height: 85vh;
    
}

.container-contact {
    display: flex;
    justify-content: start;
    gap: 5vw;
}

.container-contact img {
    max-width: 50%;
    height: auto;
    max-height: 80vh;
    object-fit:cover;
    margin-bottom: 10px;
    border: #d8c190 1px solid;
}

form {
    display: flex;
    flex-direction: column;
    width: 40%;
    min-width: 150px;
    max-width: 500px;
    font-size: clamp(15px, 2.5vw - 1em, 1.2rem)
}

input,
textarea {
    border: #d8c190 1px solid;
    margin-top: 2%;
    margin-bottom: 10%;
}

input {
    min-height: 30px;
}

textarea {
    height: 25%;
    min-height: 60px;
}

.btn {
    font-size: clamp(13px, 2.5vw - 1em, 1rem);
    margin: 5px 0;
    padding: 5px;
}

.btn:hover {
    background-color: #201818;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-size: clamp(0.7em, 4vw - 1em, 1rem)
}

.fi {
    margin: 10px 10px;
    font-size: 20px;
}

footer div, p{
    margin: 10px 0;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    text-shadow: 0 0 5px #ffffff, /* Ajusta el color del brillo */
                 0 0 10px #ffffff,
                 0 0 15px #d8c190; 
                             
    transition: text-shadow 0.3s ease-in-out; /* Suaviza la transición */
}

@media only screen and (max-width: 800px) {
/* carrusel de drinks */
.carousel-slide-drink {
    align-items: normal;
    
}
}






/* Teléfonos pequeños (320px - 480px) */
@media only screen and (max-width: 480px) {
    /* Estilos para teléfonos pequeños */
}

/* Teléfonos medianos (481px - 767px) */
@media only screen and (min-width: 481px) and (max-width: 767px) {
    /* Estilos para teléfonos medianos */
}

/* Tabletas (768px - 1024px) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* Estilos para tabletas */
}

/* Laptops y desktops pequeñas (1025px - 1280px) */
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
    /* Estilos para laptops y desktops pequeñas */
}

/* Laptops y desktops grandes (1281px - 1600px) */
@media only screen and (min-width: 1281px) and (max-width: 1600px) {
    /* Estilos para laptops y desktops grandes */
}

/* Pantallas extra grandes (>1600px) */
@media only screen and (min-width: 1601px) {
    /* Estilos para pantallas extra grandes */
}